# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# NextAuth Secret (generate with: openssl rand -base64 32)
AUTH_SECRET=generate_a_random_secret_here

# Backend API URL (where to send user data after login)
BACKEND_API_URL=http://localhost:4000/api/auth

# Backend URL
NEXT_PUBLIC_BACKEND_URL=http://localhost:8080